/** @define cq-bottom-ui-widgets; weak */
.cq-bottom-ui-widgets {
    bottom: 10px !important;
}

/** @define ticks-history-stats; weak */
.ticks-history-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 2.5em 0 1em;
    padding: 1.3rem 0.8rem;

    /* Screen height fixes due to UI space restrictions */
    @media only screen and (max-height: 520px) {
        transform: scale(0.85);
        transform-origin: bottom;
        padding: 0 0.8rem !important;
    }
    @media only screen and (max-height: 480px) {
        transform: scale(0.75);
    }

    &__container {
        display: flex;
        align-items: center;
        background-color: var(--general-section-1);
        border-radius: $BORDER_RADIUS * 2;
        width: 73.6rem;
        height: 4.8rem;

        &--in-contract-replay {
            width: 97.5rem;
        }
    }
    &__title {
        display: flex;
        align-items: center;

        .info {
            margin-right: 0.4rem;
            // stroke: var(--text-less-prominent);
        }
    }
    &__nav-buttons {
        display: flex;
        flex-direction: column;
    }
    &__history {
        display: flex;
        align-items: center;

        // &-heading {

        // }
        &-item {
            width: 3.8rem;
        }
        // &--expanded {
        // }
    }

    // @include mobile {

    // }
}
