.trade__current-spot {
    padding: var(--core-spacing-400) var(--core-spacing-800);
    text-align: center;
    border-radius: var(--core-borderRadius-400);
    background-color: var(--core-color-solid-slate-50);
}
