.section {
    &__wrapper {
        height: 100%;
        background-color: var(--core-color-solid-slate-75);
        position: relative;
        padding: var(--core-spacing-400);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--core-spacing-400);
    }

    &__trade-params {
        border-radius: var(--core-borderRadius-400);
        background-color: var(--core-color-solid-slate-50);
        padding: var(--core-spacing-800);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--core-spacing-800);

        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__options__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--core-spacing-400);

            &--minimized {
                background-color: var(--core-color-solid-slate-50);
                margin: var(--core-spacing-400) var(--core-spacing-400) var(--core-spacing-400) var(--core-spacing-400);
                align-items: center;
                flex-direction: row;
                justify-content: unset;
                flex-wrap: nowrap;
                overflow-x: scroll;
                white-space: nowrap;
                -ms-overflow-style: none;
                scrollbar-width: none;
            }
        }

        &__option {
            .input {
                padding-inline-start: 0;
            }

            &--minimized {
                width: 16rem;
            }
        }
    }

    &__purchase-button {
        flex-direction: column-reverse;
        padding-block: var(--core-spacing-400);
        align-items: flex-end;
        height: var(--core-size-2800);

        & + & {
            align-items: flex-start;
        }

        &__payout {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0px var(--core-spacing-400) var(--core-spacing-400) var(--core-spacing-400);
            gap: var(--core-spacing-400);
        }
    }

    &__chart {
        border-radius: var(--core-borderRadius-400);
        background-color: var(--core-color-solid-slate-50);
        // TODO: temporary height, needs yo be calculated
        height: 403px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // TODO: temporary placeholder
    &__contract-type {
        height: 4.8rem;
        background-color: var(--core-color-solid-slate-50);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // TODO: temporary placeholder
    &__asset-type {
        height: 5.8rem;
        background-color: var(--core-color-solid-slate-75);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
