.section {
    &__wrapper {
        background-color: var(--core-color-solid-slate-75);
        position: relative;
        padding: var(--core-spacing-400);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--core-spacing-400);
    }

    &__chart {
        border-radius: var(--core-borderRadius-400);
        background-color: var(--core-color-solid-slate-50);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // TODO: temporary placeholder
    &__contract-type {
        height: 4.8rem;
        background-color: var(--core-color-solid-slate-50);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // TODO: temporary placeholder
    &__asset-type {
        height: 5.8rem;
        background-color: var(--core-color-solid-slate-75);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
