.trade-param {
    &__wrapper {
        // var(--core-spacing-1000) - HandleBar height
        // var(--core-spacing-3200) - Header height
        // var(--core-spacing-4000) - Footer height
        height: calc(40vh - var(--core-spacing-1000) - var(--core-spacing-3200) - var(--core-spacing-4000));

        &--definition {
            height: calc(40vh - var(--core-spacing-1000) - var(--core-spacing-3200));
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
