.trade-param {
    &__wrapper {
        height: calc(40vh - var(--core-spacing-1000) - var(--core-spacing-3200) - var(--core-spacing-4000));

        &--definition {
            height: calc(40vh - var(--core-spacing-1000) - var(--core-spacing-3200));
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;

    &__item {
        width: 100vw;
        min-width: 100vw;
        transition: transform 0.5s ease-in-out;
    }

    .icon--left {
        .quill-action-sheet--title--icon {
            right: unset;
            left: 0;
        }
    }
}
